@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&display=swap');

html, body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url(./images/skyhills.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  width: 650px;
  background-color: white;
  text-align: center;
  padding: 16px 32px 32px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1px 0.1px black;
  background-color: whitesmoke;
}

.quote{
  font-family: 'Shantell Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 25px;
}

button{
  margin: 4px 13px;
  padding: 10px 15px;
  font-size: 14px;
  border-width: 2px;
  border-radius: 50px;
  background-color: white;
  font-family: 'Shantell Sans', sans-serif;
}

button:hover{
  animation: shake 0.5s both;
  cursor: pointer;
}

button:hover a :is(span, .icon){
  animation: textshake 0.8s both;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes textshake{
  0%{
    transform: translateX(2px);
  }
  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(1px);
  }
  75%{
    transform: translateX(-1px);
  }
  100%{
    transform: translateX(0);
  }
}

a{
  color: inherit;
  text-decoration: none;
}

.tweet{
  color: #1DA1F2;
  border:solid 2px #1DA1F2;
}

.icon{
  margin-right: 7px;
  width: 1rem;
}